-# Error screen to correct user's role
%section.ftco-section

  .row.justify-content-center
    .col.text-center
      %h3.alert.alert-info Please contact an administrator to give you the correct privileges.
      %a.btn.btn-outline-primary.mt-4{:href => "https://students.sheffield.ac.uk/extenuating-circumstances", :role => "button", :target => "_blank"} Contact