Please login to view the decisions made about the following ECF which has been marked as complete. 
==================================================================================================

ECF Details:

Name: #{@ecf.user.givenname} #{@ecf.user.sn}
Details: #{@ecf.details}

