%body
%p
  Please login to view the decisions made about the following ECF which has been marked as complete. 
  %br ----------------------------------------------------------------------------------------------

%p
  Name: #{@agenda.ecf.user.givenname} #{@agenda.ecf.user.sn}
  Details: #{@agenda.ecf.details}
