-# Checks what type of user they are and shows the apporpriate partial
- if  current_user.admin?
  = render 'staff_edit'
- elsif current_user.scrutiny?
  = render 'staff_edit'
- elsif current_user.module_leader?
  = render 'staff_edit'
- else
  = render 'form'

