!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Extended Circumstances Form
    -# %link{:href => "assets/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / Font Awesome icons (free version)
    %script{:crossorigin => "anonymous", :src => "https://use.fontawesome.com/releases/v6.1.0/js/all.js"}
    / Google fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i", :rel => "stylesheet"}/
    / Core theme CSS (includes Bootstrap)

  %body#page-top
    
    / Header
    %header.masthead.text-center.text-white
      .masthead-content
        .container.px-5
          %h1.masthead-heading.mb-0 Extended Circumstances Form
          %h2.masthead-subheading.mb-0 Information
          %a.btn.btn-primary.btn-xl.rounded-pill.mt-5{:href => "#scroll"} Learn More
      .bg-circle-1.bg-circle
      .bg-circle-2.bg-circle
      .bg-circle-3.bg-circle
      .bg-circle-4.bg-circle
    / Content section 1
    %section#scroll
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Overview
              %p If extenuating circumstances are affecting your ability to engage with your course, you can submit a form to your department requesting they be taken into consideration when grading you. You should notify your academic department of any extenuating circumstances at the earliest possible opportunity. Before applying for extenuating circumstances you must read the relevant information below. We seek to respond in an equitable and consistent way to all requests for extenuating circumstances. As well as considering your needs, we also consider academic integrity and fairness to other students.

    / Content section 2
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6
            .p-5
              %h2.display-4 What are extenuating circumstances?
              %p Extenuating circumstances are exceptional, short-term events (eg personal or health problems) which are outside of your control and have a negative impact on your ability to prepare for or take (sit) an assessment.  To meet the criteria of extenuating circumstances, they must also: be non-academic (problems with the management of your course or academic staff should be dealt with via the student complaints procedure)  be out of your control (ie you couldn’t reasonably have done anything to prevent them from happening); and have occurred at the time of the assessment or in the period immediately leading up to the assessment It’s your responsibility to notify your tutor, supervisor or other appropriate departmental staff if there are any extenuating circumstances that may have a bearing on your ability to perform for your exams/assessments.

    / Content section 3
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Examples likely to be accepted as extenuating circumstances
              %p
              %ul
              %li Bereavement – death of close relative/significant other (which in an employment context would have led to a period of compassionate leave).
              %li Serious short term illness/accident/hospitalisation (which in an employment context would have led to a period of sickness absence).
              %li Deterioration or fluctuation of a disability or long term health condition.
              %li Significant adverse personal/family circumstances.
              %li Other significant exceptional factors for which there is evidence of stress caused, eg being a victim of crime. We’ll likely require evidence of any of these (eg police crime reference, letter from hospital/doctor treating condition, social worker letter). 

    / Content section 4
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Examples unlikely to be accepted as extenuating circumstances 
              %p The following is a non-exhaustive list of circumstances that we won’t normally accept as being extenuating. Doctors, counsellors etc. won’t normally provide evidence for things such as a minor illness, a sleepless night, a minor injury or financial worries. These may be considered in very unusual cases where they can be documented by independent evidence. 

              %ul
              %li Medical circumstances which don’t relate to the assessment period in question.
              %li Minor illness or ailment, which in a work situation is unlikely to lead to absence from work.
              %li A sleepless night.
              %li If there’s a reasonable case that the circumstances were foreseeable and/or preventable.
              %li Financial issues.
              %li Religious observance (ie fasting, leaving before sundown). There’s a separate process for this, please see religious observance and exams. 
              %li Holidays/family events.
              %li Transport difficulties eg delayed flights, strikes or traffic jams. You’re expected to be at your term-time address during the exam period or have made appropriate arrangements if you’re sitting exams abroad.
              %li Late disclosure of extenuating circumstances because you didn’t feel comfortable bringing them to the attention of the academic department prior to the relevant meetings/boards. 
              %li Poor time management (eg pressure of work, conflicting assessment deadlines, unavailability of books).
              %li Missing your exam because you overslept or misread the exam timetable. 
              %li Submitting the wrong work or a draft version of the work for assessment.
              %li A long-term condition where treatment or additional support/arrangements are in place to mitigate. There are separate processes for this, please see: Ongoing medical/personal problems.
              %li Any loss of coursework that has not been be appropriately backed up. 

    / Content section 5
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 How are they taken into account?
              %p Academic staff (eg the exam board) will take your extenuating circumstances into account when deciding your academic outcomes. If your circumstances are deemed to be appropriately and genuinely extenuating, academic staff can suggest the following:
              %ul
              %li No further action.
              %li Disregarding penalties for late submission of coursework.
              %li Not Assessing (NA) the exam/module in question and providing you another attempt without academic penalty. This would only happen if you failed or didn’t attend your exam and evidence strongly suggests that you’ve been seriously disadvantaged by your circumstances.
              %li Disregarding a missing component and deriving an overall mark/grade from completed work. 
              %li Disregarding an unreliable component and deriving an overall mark from completed work (if it will benefit you).
              %li Submitting the missing assessment if you fail your course.
              %li Sitting an alternative assessment if you fail your course. 

      
    / Content section 6
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Lorem ipsum
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    
    / Content section 7
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Lorem ipsum
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    
    / Content section 8
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Lorem ipsum
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
    
    / Content section 9
    %section
      .container.px-5
        .row.gx-5.align-items-center
          .col-lg-6.order-lg-2
            .p-5
              -# %img.img-fluid.rounded-circle{:alt => "...", :src => "/app/assets/images/01.jpg"}/
              .login-wrap.py-5
                .img
          .col-lg-6.order-lg-1
            .p-5
              %h2.display-4 Lorem ipsum
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.
   