-# A login screen
- content_for :title, 'Log In'
%html{:lang => "en"}
  %head
!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Login
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap", :rel => "stylesheet"}/
    
  %body-1
    %section.ftco-section


      .container
        .row.justify-content-center
          .col-md-6.text-center.mb-5
            %h2.heading-section ECF Login
        .row.justify-content-center
          .col-md-6.col-lg-4
            .login-wrap.py-5
              .img
              %h3.text-center.mb-0 Welcome
              = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                .form-group
                  %span.fa.fa-user
                  #username= f.input :username, autofocus: true, required: true
                .form-group
                  %span.fa.fa-lock
                  #password= f.input :password, required: true
                .form-group
                  %button.btn.form-control.btn-primary.rounded.submit.px-3#btn{:type => "submit"} Login
