<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <p>The next scrutiny panel meeting date has been set. Please log into the extenuating circumstances system to view the dates.</p>
  </body>
</html>